/*  your css code here. If applicable */
:root{
	--maincolor: skyblue;
}
#main{
	width:500px;
	height: 600px;
 	background-color:var(--maincolor); 
}
#list{
	width:50%;
	padding:20px;
}
div>p:first-child{
	background-color:black;
	color:white;
}
div p:nth-child(2){
	color:aqua;
}
div p:nth-child(4){
	color:red;
}
div>ul>li:nth-child(odd){
	background-color:white;
}
div>ul>li:nth-child(even){
	background-color:gray;
}
div>ul>li:nth-child(3){
	background-color:pink;
}
div>ul>li:nth-child(1 ){
	font-size:22px;
}
div>ul>li:nth-child(5){
	font-size:22px;
}